@import 'vant/lib/vant-css/index.css';
.yzwb-ksxx {
    .van-panel__header {
        background-color: #e8eaec;
        color: #455a64;
    }
    .van-cell__value {
        color: #455a64;
    }
    .van-hairline--top-bottom::after {
        border-width: 0;
    }
}